# See http://help.github.com/ignore-files/ for more about ignoring files.
/.idea
 ######## webapp ########

# compiled output
/webapp/dist
/webapp/tmp

# dependencies
/webapp/node_modules
/webapp/client/node_modules
/webapp/server/node_modules

# IDEs and editors
/webapp/client/.idea
/webapp/server/.idea
/webapp/.idea
/webapp/.project
/webapp/.classpath
/webapp/.c9/
/webapp/*.launch
/webapp/.settings/
/webapp/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/webapp/.sass-cache
/webapp/connect.lock
/webapp/coverage/*
/webapp/client/public
/webapp/server/public
/webapp/server/dist
/webapp/libpeerconnection.log
/webapp/npm-debug.log
/webapp/testem.log
/webapp/typings
/webapp.*.log

#System Files
.DS_Store
Thumbs.db
*.log

######## batch ########
/batch/.metadata
/batch/bin/
/batch/tmp/
/batch/target/
/batch/.idea/

/batch/.classpath
/batch/.project
/batch/*.tmp
/batch/*.bak
/batch/*.swp
/batch/*~.nib
/batch/local.properties
/batch/.settings/
/batch/.loadpath
/batch/.recommenders

# External tool builders
/batch/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
/batch/*.launch

# PyDev specific (Python IDE for Eclipse)
/batch/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
/batch/.cproject

# Java annotation processor (APT)
/batch/.factorypath

# PDT-specific (PHP Development Tools)
/batch/.buildpath

# sbteclipse plugin
/batch/.target
/batch/project/project
/batch/project/target

# Tern plugin
/batch/.tern-project

# TeXlipse plugin
/batch/.texlipse

# STS (Spring Tool Suite)
/batch/.springBeans

# Code Recommenders
/batch/.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
/batch/.cache-main
/batch/.scala_dependencies
/batch/.worksheet

######## streaming ########
/streaming/.metadata
/streaming/bin/
/streaming/tmp/
/streaming/target/
/streaming/.idea/

/streaming/.classpath
/streaming/.project
/streaming/*.tmp
/streaming/*.bak
/streaming/*.swp
/streaming/*~.nib
/streaming/local.properties
/streaming/.settings/
/streaming/.loadpath
/streaming/.recommenders

# External tool builders
/streaming/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
/streaming/*.launch

# PyDev specific (Python IDE for Eclipse)
/streaming/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
/streaming/.cproject

# Java annotation processor (APT)
/streaming/.factorypath

# PDT-specific (PHP Development Tools)
/streaming/.buildpath

# sbteclipse plugin
/streaming/.target
/streaming/project/project
/streaming/project/target

# Tern plugin
/streaming/.tern-project

# TeXlipse plugin
/streaming/.texlipse

# STS (Spring Tool Suite)
/streaming/.springBeans

# Code Recommenders
/streaming/.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
/streaming/.cache-main
/streaming/.scala_dependencies
/streaming/.worksheet

######## ml ########
/ml/.idea/
