.search-flight-box {
  width: 100%;
  .mat-card {
    margin: 16px 0;
  }
  &-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  &-full-width {
    width: 100%;
  }
  button:disabled,
  button[disabled] {
    color: black !important;
  }

  mat-form-field {
    width: 500px;
  }
}